$font-base: "Helvetica Neue" , Helvetica , apple-system, arial, sans-serif;
$primary: #da2e69;
$secondary: darken(#444, 15%);
$grey: #383838;
$black: #181215;


@import "custom-css/main";
@import "custom-css/_content-typography";
@import "custom-css/_docs";
@import "custom-css/_mobile-side-nav";
@import "custom-css/_navbar";
@import "custom-css/_sgds-example";
@import "custom-css/_sgds-syntax";
@import "custom-css/_spinner";
@import "sass/sgds";
@import "sass/sgds-base/_all";
@import "sass/sgds-components/_all";
@import "sass/sgds-customise/_all";
@import "sass/sgds-icons/_all";
@import "sass/sgds-layout/_all";
